<section id="new-arrivals" class="new-arrivals">
  <div class="container">
    <div class="section-header">
      <h2>Ürünler</h2>
    </div>
    <!--/.section-header-->
    <div class="new-arrivals-content">
      <input
        type="text"
        class="form-control"
        placeholder="Aranacak kelimeyi yazın"
      />
    </div>
    <div class="new-arrivals-content">
      <div class="row">
        <div class="col-md-3 col-sm-4" *ngFor="let product of products">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img
                src="assets/images/collection/arrivals1.png"
                alt="new-arrivals images"
              />
              <div class="single-new-arrival-bg-overlay"></div>
            </div>
            <h4>
              <a routerLink="detail/4" [innerText]="product.name"></a>
            </h4>
            <p class="arrival-product-price text-danger">
              <del [innerText]="product.price"></del>
            </p>
            <p
              class="arrival-product-price"
              [innerText]="
                product.discount > 0
                  ? product.price * (100 - product.discount)
                  : 0
              "
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
